:root {
    /*Text colors*/
    --main-txt-clr: #757575;
    --title-txt-clr: #212121;
    --accent-color: #2196F3;
    --secondary-txt-clr: #2196F3;
    --bcg-color: #2F303A;
    --primary-letter-spacing: 0.03em;
    --secondary-letter-spacing: 0.02em;
    --hero-letter-spacing: 0.06em;
    --transition-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --font-family: Roboto, sans-serif;
}


    